@{
    ViewBag.Title = "Contact us";
}

<div class="jumbotron">   
    <p>
        Do you have any suggestions?  Do you want us to add a career?
    </p>
    <address>
        <strong>Contact us:</strong>   <a href="mailto:Support@Careeries.com">Support@Careeries.com</a><br />
    </address>
</div>
