
@{
    ViewBag.Title = "Careers";
}

<div class="jumbotron">
    <p>Careers: 
        <select>
        <option value="Administrative Assistant">Administrative Assistant</option>
        <option value="Accountant">Accountant</option>
        <option value="Pharmacist">Pharmacist</option>
        <option value="High School Teacher">High School Teacher</option>
        </select>  
    </p>
    <input id="search-input" name="careerSearch" type="text">
    <a href="http://www.google.com" class="btn btn-primary btn-large">Search</a> <br />

    <p>
        <img src="http://www.laspalomasrestaurant.com/wp-content/uploads/2015/03/adminassistant.jpg" alt="">
        Administrative Assistants assist executives in day to day tasks.  
    </p>
    <p><h1>Stories:</h1></p>
    <div class="row">
        <div class="col-md-2">
            <p>11 stars</p>
            <p>3 stars</p>
            <p>2 stars</p>
        </div>
        <div class="col-md-2">
            <p>Being an administrative assistant is hard...</p>
            <p>The boss can be hard to deal with...</p>
            <p>There is no future in this career...</p>
        </div>
        <div class="col-md-2">
            <p>15 comments</p>
            <p>11 comments</p>
            <p>9 comments</p>
        </div>
    </div>  
</div>

