@{
    ViewBag.Title = "Contact Us";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@CareerStories.com">Support@CareerStories.com</a><br />
    </address>
</div>