@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>CareerStories provides an inside view into over 100 different career fields.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="loner">
    <h2>Top Stories</h2>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <p>41 stars</p>
            <p>14 stars</p>
            <p>8 stars</p>
        </div>
        <div class="col-md-2">
            <p>Accountant</p>
            <p>Pharmacist</p>
            <p>High School Teacher</p>
        </div>
        <div class="col-md-2">
            <p>Passing the CPA exam is hard, and there a lot of...</p>
            <p>The customers are hard to deal with...</p>
            <p>You have no energy at the end of the...</p>
        </div>
        <div class="col-md-2">
            <p>31 comments</p>
            <p>18 comments</p>
            <p>2 comments</p>
        </div>
    </div>
</div>