@{
    ViewBag.Title = "Careeries";
}

<div class="jumbotron">
    <p>Careeries provides an inside view of many different career fields.  </p>    
</div>

<div class="loner">
    <h2>Top Stories</h2>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Career</th>
                <th>Title</th>
                <th>User</th>
                <th>Comments</th>
            </tr>
        </thead>       
        @foreach (var item in ViewBag.careerStoriesListHome as List<CareerStories.Models.Stories>)
        {
            <tr>
                <td>
                    @item.CareerName
                </td>
                <td>
                    @Html.ActionLink(item.Title, "Story", "Careers", new { Id = item.Id }, null /* html attributes */)
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    <span class="badge">@item.PostCount</span>
                </td>
            </tr>

        }
    </table>
</div>